/* Full page center */
.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

/* Card */
.login-card {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Form */
.login-form {
  text-align: left;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  color: black;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group input:focus {
  border-color: #667eea;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background: #5a67d8;
}

/* Footer */
.footer-text {
  margin-top: 15px;
  font-size: 14px;
}

.footer-text span {
  color: #667eea;
  cursor: pointer;
  font-weight: bold;
}
.forgot-password {
  text-align: right;
  margin-bottom: 15px;
}

.forgot-password span {
  font-size: 13px;
  color: #667eea;
  cursor: pointer;
}

.forgot-password span:hover {
  text-decoration: underline;
}
